---
    const { title } = Astro.props
---

<section>
    {title && <h2>{title}</h2>}
    <slot /> <!-- This is where the content will be rendered. Es un hueco que renderiza lo que le pasemos al componente -->
</section>

<style>
    section {
        max-width: 700px;
        margin: 0 auto 48px;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 8px;
        font-weight: 700;
        line-height: 1.5;
    }
</style>